@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap'); /*Fonte Koulen */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /* Font Opens Sans */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* Font Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Font Inter */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'); /* Font Montserrat */


@import "tailwindcss";

@theme {

    --color-cinzaClaro: #DAD7CD;
    --color-verdeClaro: #A3B18A;
    --color-verdeMedio: #588157;
    --color-verdeEscuro: #3A5A40;
    --color-verdeEscuroForte: #344E41;
    --color-verdeEscuroConta: #26382f;
    --color-verdePigmento: #4CAF50;
    --color-verdeGrama: #2E7D32;
    --color-canela: #8D6E63;
    --color-laranja: #FF9800;
    --color-cinza: #D7CCC8;
    --color-brancoSal: #FAFAFA;
    --color-corErro: #ff20206e;
    --color-ErroModal: #971212;
    --color-corSucesso: #92d7946a;
    --color-separator: #CAC4D0;
    --color-hoverMenu: #dedede1e;
    --color-verdeLimparFiltros: #88a058;
    --color-hoverLimparFiltros: #64783b;

}

.shadow-title {
    text-shadow: 0px 10px 8px #00000040;
}
.shadow-text {
    text-shadow: 1px 2px 0px #000000bf;
}
.shadow-thead {
    /* text-shadow: 1px 2px 0px #000000bf; */
    text-shadow: 0px 1px 0px #000000bf;
}
.sombra {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.289);
}

.sombra-botao {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.289);
}
.sombra-botao2 {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.289);
}
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
background: transparent;
border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
background: #26382f;
border-radius: 8px;
}
.custom-scrollbar-products::-webkit-scrollbar {
    width: 9px;
}

.custom-scrollbar-products::-webkit-scrollbar-track {
background: transparent;
border-radius: 8px;
}

.custom-scrollbar-products::-webkit-scrollbar-thumb {
background: #b9b9b9;
border-radius: 8px;
}

.custom-scrollbar-products::-webkit-scrollbar-thumb:hover {
background: #a0a0a0; /* cor mais escura no hover */
}

.custom-scrollbar-modal::-webkit-scrollbar {
    width: 9px;
}

.custom-scrollbar-modal::-webkit-scrollbar-track {
background: transparent;
border-radius: 8px;
}

.custom-scrollbar-modal::-webkit-scrollbar-thumb {
background: #b9b9b9;
border-radius: 8px;
}

.custom-scrollbar-modal::-webkit-scrollbar-thumb:hover {
background: #a0a0a0; /* cor mais escura no hover */
}

.select {
    box-shadow: inset 0px -6px 5px -6px #4CAF50;
}

@keyframes border-expand {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.animation-tab::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 2px;
    background-color: #4CAF50; 
    animation: border-expand 0.3s ease-in-out forwards;
}

body {
  font-family: 'Montserrat', sans-serif;
}
