@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap'); /*Fonte Koulen */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /* Font Opens Sans */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* Font Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Font Inter */


@import "tailwindcss";

@theme {

    --color-cinzaClaro: #DAD7CD;
    --color-verdeClaro: #A3B18A;
    --color-verdeMedio: #588157;
    --color-verdeEscuro: #3A5A40;
    --color-verdeEscuroForte: #344E41;
    --color-verdeEscuroConta: #26382f;
    --color-verdePigmento: #4CAF50;
    --color-verdeGrama: #2E7D32;
    --color-canela: #8D6E63;
    --color-laranja: #FF9800;
    --color-cinza: #D7CCC8;
    --color-brancoSal: #FAFAFA;
    --color-corErro: rgba(255, 32, 32, 0.432);
    --color-separator: #CAC4D0;
    --color-hoverMenu: #dedede1e;

}

.shadow-title {
    text-shadow: 0px 10px 8px #00000040;
}
.shadow-text {
    text-shadow: 1px 2px 0px #000000bf;
}
.sombra {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.289);
}
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
background: transparent;
border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
background: #26382f;
border-radius: 8px;

}
.select {
    box-shadow: inset 0px -6px 5px -6px #4CAF50;
}

@keyframes border-expand {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.animation-tab::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px; /* Ajusta a posição da borda */
    width: 0%;
    height: 2px;
    background-color: #4CAF50; /* Substitua pela cor desejada */
    animation: border-expand 0.3s ease-in-out forwards;
}





